<% owner_notes = @owner_notes %>
	
<h2><%=pluralize(owner_notes.length, 'NOTE') %></h2>

<table class="table table-hover" style="text-align: left;">
  <% owner_notes.each_with_index do |note, i| %>
  <tr>
		<td style="width:33%;">
			<%= link_to note.author.email, user_url(note.author) %> </td>
    <td style="width: 60%">
      <%= note.content %>
    </td>
		<td>	
			
			<%= link_to raw("<i class=\"fa fa-times-circle\"></i>"), 
				"#{destroy_action}#{note.id}", 
					method: :delete,
					remote: true %>
    </td>
  </tr>
  <% end %>

</table>
