<!-- Home page -->
<header>
		<div class="container">
				<div class="intro-text" style="padding-top: 200px;">
						<div class="intro-lead-in">welcome to bandchamp</div>
						<div class="intro-heading">follow all your fav artists and songs</div>
						<a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
				</div>
		</div>
</header>

<div class="container">
	<div class="row">
	
	</div>
</div>
