<div class="band-preview">
<a href="<%= band_url(band) %>">
  <% if band.has_images? %>
    <%= image_tag(band.profile_thumb) %>
  <% else %>
    <p class="band-profile-default"></p>
  <% end %>
  <%= band.name %>
</a>
</div>
